falcon>=1.4.1
falcon-cors>=1.1.7
falcon-helpers>=0.17.0
falcon-multipart>=0.2.0
gunicorn>=19.9.0
gitpython>=2.1.11
Jinja2>=2.8.1
papermill>=0.16.2
nbconvert>=5.4.0
nbformat>=4.4.0
nbstripout>=0.3.3
PyJWT>=1.6.4
traitlets>=4.3.2
voila>=0.0.6