div.modal {
  top: 25px;
  z-index: 9;
  position: absolute;
  height:100%;
  width:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

body.dark div.modal {
  background-color: rgba(0, 0, 0, .9);
}

body.light div.modal {
  background-color: rgba(0, 0, 0, .1);
}

div.modal > * {
  margin-bottom: 10px;
}

div.loader {
  top: 45px;
  z-index: 9;
  position: absolute;
  height:100%;
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

body.dark div.loader {
  background-color: rgba(0, 0, 0, .9);
}

body.light div.loader {
  background-color: rgba(0, 0, 0, .1);
}

div.loader_icon {
  /*border: 16px solid #f3f3f3; */
  /*border-top: 16px solid #3498db; */
  border-right: 24px solid var(--highlight-blue);
  border-left: 24px solid var(--highlight-blue);

  border-radius: 50%;
  animation: spin 2s linear infinite;

  height:200px;
  width:200px;
}

body.dark div.loader_icon {
  border-top: 24px solid #333; 
  border-bottom: 24px solid #333; 
}

body.light div.loader_icon {
  border-top: 24px solid #ccc; 
  border-bottom: 24px solid #ccc; 
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
