div.status {
    display: flex;
    flex-direction: column;
    font-size: 10px;
    padding-left: 15px;
    overflow-y: scroll;
    min-height:325px;
}

body.dark div.status {
    border-right: 1px solid var(--dark-border);
}

body.light div.status {
    border-right: 1px solid var(--light-border);
}

div.status-container {
    max-height:40px;
    display:flex;
    flex-direction: row;
    margin-bottom:5px;
}

div.status-breakdown {
    display: flex;
    flex-direction: column;
}

div.status-breakdown td {
    width: 50%;
}

div.status-breakdown td.status-data {
    width: 50%;
}

div.status span.number {
    font-size: 20px;
    width:100%;
}

div.status span.subtitle {
    font-size: 15px;
    width:100%;
}

div.status-notebooks,
div.status-jobs,
div.status-reports {
    width:30%;
    display:flex;
    flex-direction: column;
    margin: auto;
    margin-top:0px;
    margin-bottom:0px;
}

body.light div.status span.notebooks,
body.dark div.status span.notebooks {
    color: var(--highlight-orange);
}

body.light div.status span.jobs,
body.dark div.status span.jobs {
    color: var(--highlight-blue);
}

body.light div.status span.reports,
body.dark div.status span.reports {
    color: var(--highlight-teal);
}


div.schedulerbrowser {
    font-size: 15px;
}
div.schedulerbrowser ul li {
    flex: 1;
}

body.dark div.schedulerbrowser .p-TabBar-content {
  border-right: 1px solid var(--dark-border);
}

body.light div.schedulerbrowser .p-TabBar-content {
  border-right: 1px solid var(--light-border);
}


body.dark div.schedulerbrowser .p-StackedPanel {
    border-right: 1px solid var(--dark-border);
}

body.light div.schedulerbrowser .p-StackedPanel {
    border-right: 1px solid var(--light-border);
}

div.schedulerbrowser-container {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

div.schedulerbrowser-container table {
    height:90%;
    text-align: left;
    overflow-x: scroll;
}

div.schedulerbrowser-container table > tr > th {
    padding: 5px;
}

body.dark div.schedulerbrowser-container table > tr > th {
    border-bottom: 1px solid var(--dark-border);
}

body.light div.schedulerbrowser-container table > tr > th {
    border-bottom: 1px solid var(--light-border);
}

div.schedulerbrowser-container table > tr > td {
    padding: 5px;
}

body.dark div.schedulerbrowser-container table > tr > td {
    border-bottom: 1px solid var(--dark-border);
}

body.light div.schedulerbrowser-container table > tr > td {
    border-bottom: 1px solid var(--light-border);
}

div.schedulerbrowser-container p {
    height:5%;
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;
}

body.dark div.schedulerbrowser-container p span.page:hover {
    color: white;
}

body.light div.schedulerbrowser-container p span.page:hover {
    color: #999;
}

div.schedulerbrowser-container p span.page-active {
    color: var(--highlight-orange);
}
