
div.browser {
    display: flex;
    flex-direction: row;
}


div.browser div.search-holder {
    height: 100%;
    width: 100%;
    display:flex;
    flex-direction: row;
    margin: auto;
    align-items: center;
    justify-content: center;
}


div.browser div.search-holder > input {
    height: 25px;
    width: 400px;
    font-size: 25px;
}

div.browser div.search-holder > datalist {
    display: none;
}

div.browser div.search-holder > button {
    height: 31px;
}


div.browser div.search-holder > input::-webkit-outer-spin-button,
div.browser div.search-holder > input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

/* specifically hide the arrow on focus */
div.browser div.search-holder > input::-webkit-calendar-picker-indicator {
    display: none;
}
