div.modal {
  top: 45px;
  z-index: 9;
  position: absolute;
  background-color: rgba(0, 0, 0, .9);
  height:100%;
  width:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

