.reports .p-DockPanel-widget {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.reports .p-DockPanel-widget > table {
    height:95%;
    text-align: left;
}

.reports .p-DockPanel-widget > p {
    height:2.5%;
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;
}

body.dark .reports .p-DockPanel-widget > p span.page:hover {
    color: white;
}

body.light .reports .p-DockPanel-widget > p span.page:hover {
    color: #999;
}

.reports .p-DockPanel-widget > p span.page-active {
    color: var(--highlight-orange);
}


.reports .p-DockPanel-widget > table > tr > th {
    padding: 5px;
}

body.dark .reports .p-DockPanel-widget > table > tr > th {
    border-bottom: 1px solid var(--dark-border);
}

body.light .reports .p-DockPanel-widget > table > tr > th {
    border-bottom: 1px solid var(--light-border);
}

.reports .p-DockPanel-widget > table > tr > td {
    padding: 5px;
}

body.dark .reports .p-DockPanel-widget > table > tr > td {
    border-bottom: 1px solid var(--dark-border);
}

body.light .reports .p-DockPanel-widget > table > tr > td {
    border-bottom: 1px solid var(--light-border);
}

.reports .configurator {
    padding:15px;
}

.reports .configurator form {
    display: flex;
    flex-direction: column;
}

.reports .configurator form > * {
    width:50%;
    margin-top:10px;
    margin-left: auto;
    margin-right: auto;
}

.reports .configurator form > input[type=submit] {
    width:15%;
}

.reports .configurator form > input[type=submit]:hover {
    color: white;
    background-color: var(--highlight-blue);
}