div.status {
    display: flex;
    flex-direction: column;
    font-size: 10px;
    padding-left: 15px;
}

body.dark div.status {
    border-right: 1px solid var(--dark-border);
}

body.light div.status {
    border-right: 1px solid var(--light-border);
}

div.status-container {
    flex: 1;
    display:flex;
    flex-direction: row;
    margin-bottom:25px;
}

div.status-breakdown {
    flex: 2;
    display: flex;
    flex-direction: column;
}

div.status span.number {
    font-size: 25px;
    width:100%;
}

div.status span.subtitle {
    font-size: 15px;
    width:100%;
}

div.status-notebooks,
div.status-jobs,
div.status-reports {
    width:30%;
    display:flex;
    flex-direction: column;
    margin: auto;
}

body.light div.status span.notebooks,
body.dark div.status span.notebooks {
    color: var(--highlight-orange);
}

body.light div.status span.jobs,
body.dark div.status span.jobs {
    color: var(--highlight-blue);
}

body.light div.status span.reports,
body.dark div.status span.reports {
    color: var(--highlight-teal);
}
